package org.soulspace.xmi.uml14.classes;

import java.util.ArrayList;
import java.util.List;
import java.util.Iterator;

import org.soulspace.xmi.base.XmiObject;

/**
 * <?Name?>
 * getGenerationInfo()
 */
 
public class <?Name?> extends XmiObject {

<?
renderAttributeProperties()
renderAssociationProperties()

renderAttributeAccess()
renderAssociationAccess()
?>

}

<?

string renderAttributeProperties() {
	foreach attr | (!isDerived(attr)) <- AllAttributes {
		renderProperty(attr)
	}
}

string renderAttributeAccess() {
	foreach attr | (!isDerived(attr)) <- AllAttributes {
		renderAccessors(attr)
	}
}

string renderAssociationProperties() {
	foreach asso | (asso:Name ne '' && !isDerived(asso)) <- AllAssociations {
		renderProperty(asso)
	}

}

string renderAssociationAccess() {
	foreach asso | (asso:Name ne '' && !isDerived(asso)) <- AllAssociations {
		renderAccessors(asso)
	}
}

string renderProperty(map element) {
?>
	private <?element:Type:Name?> <?element:Name?>;
<?
}

string renderAccessors(map element) {
?>
	public <?element:Type:Name?> get<?element:Name.firstUpper()?>() {
		return <?element:Name?>;
	}
	
	public void set<?element:Name.firstUpper()?>(<?element:Type:Name?> <?element:Name?>) {
		this.<?element:Name?> = <?element:Name?>;
	}
<?
}
?>