package <?namespace()?>;

import java.util.ArrayList;
import java.util.List;
import java.util.Iterator;

import org.soulspace.xmi.base.AbstractXmiObject;

/**
 * <?Name?>
 * getGenerationInfo()
 */
 
public class <?Name?> extends XmiObject {

}
