Class <?Name?>

<?protectedArea(Id)?>

<?
string protectedArea(string id) {
'// ' + GenContext:UserSection + '-BEGIN(' + id + ')'?>
<?USERSECTIONS[id]?><?
'// ' + GenContext:UserSection + '-END(' + id + ')'
}

?>