/*
 * Java bean <?name(This)?>
 * Implementation of interface <?Name?>.
<? generationInfo(' * ')?>
 */

package <?namespace(This)?>;

import java.util.*;
<?imports(This)?>
<?
javaDoc(This)
typeAnnotations(This)?>
<?visibility(This)?> abstract class <?name(This)?> <?extension(This)?> <?implementations(This)?> {

	// Fields<?
propertyFields(This)
associationFields(This)
?>
	
	// Constructors<?
constructors(This)
?>

	// Accessors<?
propertyAccessors(This)
elementAccessors(This)
associationAccessors(This)
?>

	// Operations	
<?
operations(This)
?>

	// Object methods<?
equals(This)
hashcode(This)
compareTo(This)
?>
}
<?
numeric isAccessibleProperty(map attr) {
	!isDerived(attr)
}

string extension(map element) {
}

string elementAccessors(map element) {?>
	public String getElementType() {
		return "<?Name?>";
	}
	
	public Element getThis() {
		return this;
	}
<?
}

string compareTo(map element) {?>
	public int compareTo(Element e) {
		return getId().compareTo(e.getId());
	}
<?
}
?>