/*
 * Interface <?name(This)?>
<?generationInfo(' * ')?>
 */

package <?namespace(This)?>;

import java.util.*;
<?imports(This)?>
<?
javaDoc(This)
typeAnnotations(This)?>
<?visibility(This)?> interface <?name(This)?> <?extensions(This)?> {
// Accessors
<?properties(This)?>
<?associations(This)?>
// Operations
<?operations(This)?>
}
<?
string extensions(map element) {
	string interfaces = super(element)
	if(interfaces) {
		interfaces + ', Comparable<Element>'
	} else {
		'extends Comparable<Element>'
	}
}
?>
