<?!--
 * java/interface
 * 
 * Generic template for java interfaces 
 * 
 * Requires includes lib, model/lib, java/lib, java/interface
 * 
 * © 2011- Ludger Solbach
 --?><?fileComment(This)?>
<?packageDeclaration(This)?>

<?imports(This)?>
<?typeJavaDoc(This)?>
<?typeAnnotations(This)?>
<?typeModifiers(This)?> @interface <?typeName(This)?> <?extensions(This)?> {
<?staticFields(This)?>
<?operations(This)?>
}