<?
list elementList = factoryElementList()
?>package <?namespace()?>;

import java.util.List;
import java.util.ArrayList;

import org.soulspace.modelling.base.XmiObject;
import org.soulspace.modelling.repository.elements.*;
import org.soulspace.modelling.repository.elements.impl.*;
import org.soulspace.modelling.repository.elements.Class;
import org.soulspace.modelling.repository.elements.Package;

public class <?name()?> {
<?
ctorDefault()
create(elementList)
?>
}
<?
string create(list elementList) {
	foreach element <- elementList {?>
	public <?element:Name?> create<?element:Name?>(XmiObject xmiObject) {
		<?element:Name?>Impl <?javaName(element)?> = new <?element:Name?>Impl();
		
		return <?javaName(element)?>;
	}
	<?
	}
}
?>