<?!--
	- generic template for java interfaces java/interface
	- requires includes lib, model/lib, java/lib, java/interface
	- (C) 2011 Ludger Solbach
   --?><?fileComment(This)?>
<?packageDeclaration(This)?>

<?
imports(This)
?>
<?
javaDoc(This)
typeAnnotations(This)
?>
<?typeModifiers(This)?> interface <?typeName(This)?> <?extensions(This)?> {
<?
staticFields(This)
operations(This)
?>
}