<?!--
 * java/package-info
 *
 * generic template for java package-info files
 *
 * requires includes lib, model/lib, java/lib
 *
 * © 2013 Ludger Solbach
--?><?
fileComment(This)?>

<?javaDoc(This)?>
<?packageDeclaration(This)?>
