<?
list elementList = repositoryElementList()
?>package <?namespace()?>;

import java.util.List;
import org.soulspace.modelling.repository.elements.*;
import org.soulspace.modelling.repository.elements.Class;
import org.soulspace.modelling.repository.elements.Package;

public interface <?name()?> {
	Element findById(String id);
<?registration(elementList)?>
<?access(elementList)?>
}
<?
string registration(list elementList) {
	foreach element <- elementList {?>
	void register<?element:Name?>(<?element:Name?> element);<?
	}
}

string access(list elementList) {
	foreach element <- elementList {?>
	public List<<?element:Name?>> get<?element:Name?>List();<?
	}
}

?>
