package <?namespace(This)?>;

import java.util.ArrayList;
import java.util.List;
import java.util.Iterator;

import org.soulspace.modelling.base.AbstractXmiObject;

/**
 * <?Name?>
 * getGenerationInfo()
 */
 
public class <?Name?> extends AbstractXmiObject {

}
