<?
if(isConcreteModelElement(This)) {
?>package <?namespace(This)?>;

/**
 * @author soulman
 * 
 */
public class <?Name?>Generator extends ModelElementGenerator {

	public <?Name?>Generator() {
		super();
	}
}
<?
}
?>