package org.soulspace.xmi.uml14.classes;

import java.util.ArrayList;
import java.util.List;
import java.util.Iterator;

import org.soulspace.xmi.base.XmiObject

/**
 * <?Name?>
 */
 
public class <?Name?> extends XmiObject {

<?
renderAttributeProperties()
renderAssociationProperties()

renderAttributeAccess()
renderPropertyAccess()
?>

}

<?

string renderAttributeProperties() {
	foreach {
	}
}

string renderAttributeAccess() {
	foreach {
	}
}

string renderAssociationProperties() {
	foreach {
	}

}

string renderAssociationAccess() {
	foreach {
	}
}

?>