<?!--
	- generic template for aspectj aspects aspectj/aspect
	- requires includes lib, model/lib, java/lib, java/class, aspectj/lib
	- (C) 2011 Ludger Solbach
    --?><?
fileComment(This)
packageDeclaration(This)
?>

<?
imports(This)
javaDoc(This)
?>
<?typeAnnotations(This)?>
<?typeModifiers(This)?> aspect <?name(This)?> <?aspectType(This)?> {

<?
staticFields(This)
staticInitializer(This)
memberFields(This)
operations(This)
?>

<?
intertypeDeclarations(This)
pointcuts(This)
advices(This)
?>
}