<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!--link rel="stylesheet" media="all" type="text/css" href="../css/default.css"-->
  <style>
  <?
  defaultStyle()
  ?>
  </style>
</head>
<body>
  <h1><?Models[0]:Name?> Modeldokumentation</h1>
	<h2>Modellbeschreibung</h2>
    <?Models[0]:TaggedValueMap['documentation']:Value?>
<?
  foreach package <- Packages {
    string show
    show = 'true'

    if(package:StereotypeMap['extern'] ne '') {
      show = 'false'
    }
    if(!package:Classes) {
      show = 'false'
    }
    if(show eq 'true') {
?>            
      <h2><a class="anchor" name="<?package:QualifiedName?>">Paket <?package:QualifiedName?></a></h2>
<!--
      <img src="<?package:QualifiedNameAsPath?>.gif"/>
-->
      <h3>Beschreibung des Pakets</h3>
		  <?package:TaggedValueMap['documentation']:Value?>

	  <h4>Stereotypen</h4>
<?
      if(package:Stereotypes) {
        foreach stereotype <- package:Stereotypes {
?>
        <?stereotype:Name?></br>
<?
        }
      } else {
?>
        keine
<?
      }
?>
<!--
	  <h3>Assoziationen</h3>
<?
      foreach asso <- package:Associations {
?>
      	Association <?asso:FromEnd:Type:Name?> -> <?asso:ToEnd:Type:Name?><br/>
<?
      }
?>
-->
<?
      foreach class <- package:Classes {?>
        <h3><a class="anchor" name="<?class:QualifiedName?>">Klasse <?class:Name?></a></h3>
        <img src="<?class:QualifiedNameAsPath?>.gif"/>
        <h4>Beschreibung</h4>
		      <?class:TaggedValueMap['documentation']:Value?>
        <h4>Superklassen</h4>
        <?
        if(class:SuperClasses) {
          foreach superClass <- class:SuperClasses {?>
          <a class="ref" href="#<?superClass:QualifiedName?>"><?superClass:Name?></a><br/>
          <?
          }?>
        <?} else {?>
        keine
        <?}?>
        <h4>Abgeleitete Klassen</h4>
        <?
        if(class:SubClasses) {
          foreach subClass <- class:SubClasses {?>
          <a class="ref" href="#<?subClass:QualifiedName?>"><?subClass:Name?></a><br/>
<?
          }
        } else {
?>
        keine
<?
        }
?>
        <h4>Attribute</h4>
<?
	    if(class:Attributes) {?>
        <table>
        <tr><th>Name</th><th>Type</th><th>Multiplicity</th><th>Description</th></tr><?
          foreach attr <- class:Attributes {?>
          <tr>
          <td><?attr:Name?></td>
          <td><?attr:Type:Name?></td>
          <td><?attr:Multiplicity:Low?>..<?if(attr:Multiplicity:High > 0) { attr:Multiplicity:High } else {?>*<?}?></td>
          <td><?attr:TaggedValueMap['documentation']:Value?></td>
          </tr>
          <?}?>
        </table>
		<?} else {?>
		keine
		<?}?>
        <h4>Methoden</h4>
		<?
				if(class:Operations) {?>
        <table>
        <tr><th>Name</th><th>ReturnType</th><th>Description</th></tr>
          <?foreach op <- class:Operations {?>
          <tr><td><?op:Name?></td>
          <td><a class="ref" href="#<?op:ReturnType:QualifiedName?>"><?op:ReturnType:Name?></a></td>
          <td><?op:TaggedValueMap['documentation']:Value?></td>
          </tr>
          <?}?>
		 </table>
			    <?} else {?>
		    keine
			    <?}?>
        <h4>Assoziationen</h4>
        <?
        if(class:AllAssociations) {?>
        <table>
        <tr><th>Name</th><th>Type</th><th>Aggregation</th><th>Multiplicity</th><th>Description</th></tr><?
          foreach asso <- class:AllAssociations {         
			if(asso:Navigable) {?>
          <tr>
          <td><?asso:Name?></td>
          <td><a class="ref" href="#<?asso:Type:QualifiedName?>"><?asso:Type:Name?></a></td>
          <td><?asso:Aggregation?></td>
          <td><?asso:Multiplicity:Low?>..<?if(asso:Multiplicity:High > 0) { asso:Multiplicity:High } else {?>*<?}?></td>
          <td><?asso:TaggedValueMap['documentation']:Value?></td>
          </tr><?
          	}
          }
?>
		    </table>
<?
        } else {
?>
		    keine
<?      }
      }
    }
  }?>
  <hr>
  <p>
  Generated by soulspace MDA generator, &copy; 2002-2008 Ludger Solbach
  </p>
</body>
</html>